body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

div.main-page {
  font-size: large;
  margin-left: 0.5em
}

div.search-input {
  margin: 0.5em 0.5em 0.5em 0;
}

div.search-input > div {
  border-radius: 2em;
  width: 20vw;
}

button.submit-button {
  margin-top: 0.7em;
  border-radius: 2em;
  height: 3.9em;
}

a.artist-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18vw;
}

a.artist-result img {
  margin-top: 0.5em;
  width: 100%;
}

span.artist-name {
  display: block;

  font-size: xx-large;
  font-weight: bold;
  text-decoration: underline;
}

img.artist-thumbnail {  
  height: 30vh;
  margin: 0.5em 0.5em 0.5em 0;
  float: left;
}

span.artist-bio {
  font-size: large;
}

div.top-tracks {
  margin-top: 1em;
}

span.top-tracks-title {
  text-decoration: underline;
}
